
<div class="container"></div>

<h2 style="text-align:center">Cadastro</h2>
<form>
  <div class="form-group">
    <label for="inputdefault">Nome:</label>
    <input class="form-control" id="name" type="text">
  </div>
  <div class="form-group">
    <label for="inputdefault">CPF:</label>
    <input class="form-control" id="cpf" type="text">
  </div>
  <div class="form-group">
    <label for="inputdefault">Email:</label>
    <input class="form-control" id="email" type="email">
  </div>
  <div class="form-group">
    <label for="inputdefault">Telefone:</label>
    <input class="form-control" id="telefone" type="text">
  </div>
  <div class="form-group">
    <label for="inputlg">Senha:</label>
    <input class="form-control input-lg" id="password" type="password">
  </div>
  <div class="form-group">
    <label for="inputdefault">Login:</label>
    <input class="form-control" id="name" type="text">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo Usuário</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div>
    <button type="button" class="btn btn-primary btn-block">Salvar</button><br>
    <a href="#/home"> <button type="button" class="btn btn-primary btn-block">Cancelar </button></a><br>

  </div>
</form>
</div>
