

<div>
    <table class="table">
        <thead>
            <tr class="bg-primary" style="text-align:center;">
                <th scope="col">Data Retirada</th>
                <th scope="col">Data Entrega</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <h3>
        Info de Carga e Oferta
    </h3>
    <form>
        <div class="form-group">
            <div class="form-group">
                <label for="inputdefault">Previsão Entrega:</label>
                <input class="form-control" id="entrega" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Local Retirada:</label>
                <input class="form-control" id="retirada" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Local Entrega:</label>
                <input class="form-control" id="entrega" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Peso:</label>
                <input class="form-control" id="peso" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Valor:</label>
                <input class="form-control" id="valor" type="text">
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block">Realizar entrega</button><br>
        <a href="#/home"> <button type="button" class="btn btn-primary btn-block">Sair</button></a><br>
    </form>

</div>