

    <h3>
        Meus Fretes
    </h3>
    <form>
        <div class="form-group">
            <div class="form-group">
                <label for="inputdefault">Previsão Entregas:</label>
                <input class="form-control" id="entrega" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Endere&ccedil;o Retirada:</label>
                <input class="form-control" id="retirada" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Dist&acirc;ncia:</label>
                <input class="form-control" id="entrega" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Cargo:</label>
                <input class="form-control" id="peso" type="text">
            </div>
            <div class="form-group">
                <label for="inputdefault">Tamanho:</label>
                <input class="form-control" id="valor" type="text">
            </div>
            </div>
            <div class="form-group">
                <label for="inputdefault">Peso:</label>
                <input class="form-control" id="valor" type="text">
            </div>
            </div>
            <div class="form-group">
                <label for="inputdefault">Valor:</label>
                <input class="form-control" id="valor" type="text">
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block">Aceitar Oferta</button><br>
       <a href="#/home"> <button type="button" class="btn btn-primary btn-block">Cancelar Oferta</button></a><br>
    </form>

</div>