
<div class="">
    <h3>Consulta</h3>
    <a href="#/cargainfo"> <button type="button" class="btn btn-primary btn-block">Ofertas</button></a><br>
    <h3>Preferências</h3>
    <a href="#/cadastro"> <button type="button" class="btn btn-primary btn-block">Perfil</button></a><br>
    <a href="#/veiculos"> <button type="button" class="btn btn-primary btn-block">Meus veic&uacute;los</button></a><br>    
    <a href="#/fretes"> <button type="button" class="btn btn-primary btn-block">Meus fretes</button></a><br><br><br><br>
    <a href="#/"> <button type="button" class="btn btn-danger btn-block">Sair</button></a><br>
</div>
