<div class="container">
</div>
<h2 style="text-align:center">CostTruck</h2>
<form>
  <div class="form-group">
    <label for="inputdefault">Empresa:</label>
    <input class="form-control" id="name" type="text">
  </div>
  <div class="form-group">
    <label for="inputlg">Senha:</label>
    <input class="form-control input-lg" id="password" type="password">
  </div>
  <div>
    <a href="#/home/">
      <button type="button" class="btn btn-primary btn-block">Login</button>
      </br>
    </a>
    <a href="#/cadastro/">
      <button type="button" class="btn btn-primary btn-block">Cadastrar</button>
    </a>
  </div>
</form>
</div>